* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.orange {
  color: #FE9013;
}

.yellow {
  color: #FFEE2E;
}

/* Header */
header {
  background-color: black;
}

.header-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  border: 2px solid white;
  max-width: 90px;
  max-height: 57px;
  padding: 1px;
  width: 15%;
}

.logo-h1 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

nav {
  display: flex;
  width: 65%;
}

nav ul {
  display: flex;
  list-style-type: none;
  font-weight: 600;
  justify-content: space-between;
  width: inherit;
  margin-left: 7%;
}

nav ul a:after,
.designed-by a:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 400ms;
}

.orange-background a:after {
  background: #F9804B;
}

nav ul a:hover:after,
.designed-by a:hover:after {
  width: 100%;
}

.designed-by {
  font-weight: 600;
  margin-left: auto;
}

header a {
  color: white;
}

/* Main */

.watch-online-container {
  background: url('../../assets/images/panda.png') no-repeat center center/cover;
  height: 89.8vh;

}

.watch-online {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  height: 780px;
  flex-direction: column;
}

.orange-circle {
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: absolute;
  width: 465px;
  height: 465px;
  left: 50%;
  top: 92px;
}

.watch-online-text {
  margin-left: calc(50% - 500.31px/2 + 330.15px);
  margin-top: 8%;
  z-index: 1;
  width: 500.31px;
  height: 400px;
  font-weight: 700;
  font-size: 105px;
  line-height: 75%;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: -2.5px;
}

.watch-online-button {
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px/2 + 332px);
  top: 626px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: white;
  border-radius: 25px;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
}

/* Backstage */
.backstage-container {
  background: rgba(253, 253, 255, 0.52);
}

.backstage-flower {
  position: absolute;
  width: 200px;
  padding-top: 610px;
  right: 0px;
  top: 792px;
  background: url(../../assets/images/flower1.png) no-repeat;
  background-size: 100% auto;
  background-position: right top;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.backstage {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  margin-bottom: 180px;
}

.backstage-image img {
  width: 609px;
  height: 403px;
}

.backstage-text {
  color: #333B41;
  line-height: 130%;
  margin-left: 87px;
}

.backstage-text h2 {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 400;
  margin-bottom: 20px;
}

.backstage-text h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-top: 54px;
  margin-bottom: 34px;
}

/* Pets */
.pets-container {
  padding: 0px 220px 100px;
  background-image: url('../../assets/images/palm.png'), url('../../assets/images/strelitzia.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
}

.pets {
  margin: 0 auto;
  max-width: 1160px;
}

.pets-pictures-container {
  margin-bottom: 80px;
}

.first-row,
.second-row {
  display: flex;
  justify-content: space-between;
}

.first-row {
  margin-bottom: 20px;
}

.card {
  border-radius: 1%;
  height: 427px;
  width: 31.55%;
  border: 0.5px solid #F9804B;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.pets-animals {
  width: 366px;
  height: 366px;
}

.pets-hover {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 10, 20);
  transition: all ease-in 0.5s;
  color: white;
  font-size: 24px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.pets-hover h2 {
  margin: 0 auto;
}

.card:hover .pets-hover {
  opacity: 0.9;
}

.panda {
  background-image: url('../../assets/images/panda1.png');
  background-repeat: no-repeat;
}

.eagle {
  background-image: url('../../assets/images/eagle.png');
  background-repeat: no-repeat;
}

.gorilla {
  background-image: url('../../assets/images/gorilla.png');
  background-repeat: no-repeat;
}

.sloth {
  background-image: url('../../assets/images/sloth.png');
  background-repeat: no-repeat;
}

.cheetah {
  background-image: url('../../assets/images/cheetah.png');
  background-repeat: no-repeat;
}

.penguin {
  background-image: url('../../assets/images/penguin.png');
  background-repeat: no-repeat;
}

.animals-info {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.animals-info .native {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin-top: 2px;
}

.banana,
.meat {
  position: relative;
}

.banana::before {
  content: '';
  position: absolute;
  background-image: url('../../assets/icons/banana.svg');
  background-repeat: no-repeat;
  width: 10%;
  height: 60%;
  top: 25%;
  right: 3%;
}

.meat::before {
  content: '';
  position: absolute;
  background-image: url('../../assets/icons/meat.svg');
  background-repeat: no-repeat;
  width: 10%;
  height: 60%;
  top: 25%;
  right: 3%;
}


.favorite-btn {
  margin: 0 auto;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

/* Pick and feed a friend */
.pick-container {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 69px 220px 100px;
}

.pick {
  max-width: 1160px;
  margin: 0 auto;
  padding: 49px 99px 59px 99px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.pick h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 30px;
  color: #FE9013;
}

.pick-text-first-p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-bottom: 40px;
}

.pick-text-second-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

.pick-text-third-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin-top: 10px;
  margin-bottom: 60px;
  margin-right: 8.5%;
}

.pick-text-third-p a {
  color: #333B41;
  text-decoration: none;
  border-bottom: 1px solid #FE9013;
}

.pick-diagram h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 40px;
  text-align: center;
  color: #333B41;
}

.pick-diagram-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 60px;
  align-items: center;
}

.pick-diagram-container-child {
  width: 170px;
}

.pick-diagram-child-first {
  width: 168px;
  height: 168px;
  background: white;
  border: 1px solid rgb(239, 116, 63);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/pay.png');
}

.pick-diagram-child-second {
  width: 168px;
  height: 168px;
  background: white;
  border: 1px solid rgb(239, 116, 63);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/zoo.png');
}

.pick-diagram-child-third {
  width: 168px;
  height: 168px;
  background: white;
  border: 1px solid rgb(239, 116, 63);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/monkey.png');
}

.pick-diagram-child-first,
.pick-diagram-child-second,
.pick-diagram-child-third {
  margin-bottom: 30px;
  width: 170px;
}

.arrow {
  width: 69px;
  height: 158px;
  background-image: url('../../assets/images/Vector.png');
  background-repeat: no-repeat;
  background-position: center;
}


.feed-btn {
  text-align: center;
  width: 298px;
  margin: 0 auto;
  display: block;
  padding: 16px 1px 16px 5px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: white;
  border-radius: 25px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
  line-height: 140%;
}

.feed-btn:hover {
  background: #e24e0e;
}

/* Testimonials */
.testimonials-container {
  position: relative;
}

.testimonials {
  margin: 0 auto;
  max-width: 1160px;
  padding: 140px 0 180px;
}

.testimonials-comments {
  display: flex;
  justify-content: space-between;
}

.testimonials h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
  margin-bottom: 47px;
}

.testimonials-comments-child {
  background: #F1F3F2;
  width: 267px;
  height: 391px;
  padding: 15px;
  border: 2px solid #F9804B;
  border-radius: 8px;
  overflow-y: auto;
}

.testimonials-profile {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.testimonials-profile-image {
  margin-right: 10px;
}

.testimonials-profile-info h5 {
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 1px;
}

.testimonials-profile-info span {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.testimonials-text p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.testimonials-comments-child::-webkit-scrollbar {
  width: 4px;
}

.testimonials-comments-child::-webkit-scrollbar-corner {
  display: none;
}

.testimonials-comments-child::-webkit-scrollbar-thumb {
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.testimonials-slider {
  width: 55%;
  margin: 0 auto;
  margin-top: 20px;
}

input[type="range"] {
  background: #F5F7F6;
  border-radius: 5px;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  border: 1px solid #fec1b1
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: #FE9013;
  cursor: pointer;
  width: 25%;
  height: 7px;
}

.leaf {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 300.92px;
  height: 295.45px;
  background: url(../../assets/images/leaf.png) no-repeat;
  background-size: auto 137%;
  background-position: right top;
}

/* Footer */
footer {
  background: #111115;
  padding: 40px 0 50px 0;
  font-size: 16px;
}

.footer-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.footer-logo {
  max-width: 82px;
  max-height: 52px;
  border: 0.5px solid #FFFFFF;
  padding: 3px;
}

footer a {
  color: #fff;
}

.donate-btn,
.testimonials-btn,
.favorite-btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  color: white;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.donate-btn:hover,
.watch-online-button:hover,
.testimonials-btn:hover,
.favorite-btn:hover {
  background: #e24e0e;
}

footer ul {
  list-style-type: none;
}

footer ul a:hover {
  color: #FE9013;
}

footer ul .orange:hover {
  color: white;
}

.social-media li {
  margin-bottom: 5px;
}

.footer-second {
  width: 40%;
}

.footer-second ul {
  display: flex;
  margin-top: 316px;
  justify-content: space-around;
  margin-left: 47px;
  margin-bottom: 0;
}

.footer-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-third h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: white;
  margin-bottom: 13px;
}

.submit {
  display: flex;
}

.submit input {
  border-radius: 2px;
  background: #111115;
  border: 0.5px solid #FE9013;
  width: 228px;
  height: 42px;
  font-size: 16px;
  line-height: 140%;
  padding: 10px;
  color: #BDBDBD;
  margin-right: 10px;
}

.submit button {
  color: #4B9200;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  padding: 10px 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.submit button:hover {
  cursor: pointer;
  color: white;
  background-color: #4B9200;
}

.submit input:focus {
  outline: none;
}

.done {
  color: #ffffff94;
  text-align: right;
  align-self: flex-end;
}