* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.container {
  max-width: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.orange {
  color: #FE9013;
}

.yellow {
  color: #FFEE2E;
}

/* Hamburger Menu */
.open-bur-menu {
  display: none;
}





/* Header */
header {
  background-color: black;
}

.header-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  border: 2px solid white;
  max-width: 90px;
  height: 57px;
  padding: 1px;
  width: 15%;
}

.logo-h1 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

nav {
  display: flex;
  width: 65%;
}

nav ul {
  display: flex;
  list-style-type: none;
  font-weight: 600;
  justify-content: space-between;
  width: inherit;
  margin-left: 7%;
}

nav ul a:after,
.designed-by a:after,
.social-media li a:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 400ms;
}

.social-media li a:after {
  height: 1.5px;
}

.orange-background a:after {
  background: #F9804B;
}

nav ul a:hover:after,
.designed-by a:hover:after {
  width: 100%;
}

.social-media a:hover:after {
  width: 40%;
}

.designed-by {
  font-weight: 600;
  margin-left: auto;
}

.hamburger {
  display: none;
  cursor: pointer;
}

header a {
  color: white;
}

/* Main */

.watch-online-container {
  background: url('../../assets/images/panda.png') no-repeat center center/cover;
  height: 89.8vh;
}

.watch-online {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  height: 780px;
  flex-direction: column;
}

.orange-circle {
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: absolute;
  width: 465px;
  height: 465px;
  left: 50%;
  top: 92px;
}

.watch-online-text {
  margin-left: calc(50% - 500.31px/2 + 330.15px);
  margin-top: 8%;
  z-index: 1;
  width: 500.31px;
  height: 400px;
  font-weight: 700;
  font-size: 105px;
  line-height: 75%;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: -2.5px;
}

.watch-online-button {
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px/2 + 332px);
  top: 626px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: white;
  border-radius: 25px;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
}

/* Backstage */
.backstage-container {
  background: rgba(253, 253, 255, 0.52);
}

.backstage-flower {
  position: absolute;
  width: 200px;
  padding-top: 610px;
  right: 0px;
  top: 792px;
  background: url(../../assets/images/flower1.png) no-repeat;
  background-size: 100% auto;
  background-position: right top;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.backstage {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  margin-bottom: 180px;
}

.first-image {
  width: 609px;
  height: 403px;
  display: block;
}

.second-image {
  display: none;
}

.backstage-text {
  color: #333B41;
  line-height: 130%;
  margin-left: 87px;
}

.backstage-text h2 {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 400;
  margin-bottom: 20px;
}

.backstage-text h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-top: 54px;
  margin-bottom: 34px;
}

/* Pets */
.pets-container {
  padding: 0px 220px 100px;
  background-image: url('../../assets/images/palm.png'), url('../../assets/images/strelitzia.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
}

.pets {
  margin: 0 auto;
  max-width: 1160px;
}

.pets-pictures-container {
  margin-bottom: 80px;
}

.first-row,
.second-row {
  display: flex;
  justify-content: space-between;
}

.first-row {
  margin-bottom: 20px;
}

.card {
  border-radius: 1%;
  height: 427px;
  width: 31.55%;
  border: 0.5px solid #F9804B;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.pets-animals {
  width: 366px;
  height: 366px;
}

.pets-hover {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 10, 20);
  transition: all ease-in 0.3s;
  color: white;
  font-size: 24px;
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
}

.pets-hover h2 {
  margin: 0 auto;
}

.card:hover .pets-hover {
  opacity: 0.9;
}

.panda {
  background: url('../../assets/images/panda1.png') no-repeat center center/cover;
}

.eagle {
  background: url('../../assets/images/eagle.png') no-repeat center center/cover;

}

.gorilla {
  background: url('../../assets/images/gorilla.png') no-repeat center center/cover;
}

.sloth {
  background: url('../../assets/images/sloth.png') no-repeat center center/cover;

}

.cheetah {
  background: url('../../assets/images/cheetah.png') no-repeat center center/cover;
}

.penguin {
  background: url('../../assets/images/penguin.png') no-repeat center center/cover;
}

.animals-info {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.animals-info .native {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin-top: 2px;
}

.banana,
.meat {
  position: relative;
}

.banana::before {
  content: '';
  position: absolute;
  background-image: url('../../assets/icons/banana.svg');
  background-repeat: no-repeat;
  width: 10%;
  height: 60%;
  top: 25%;
  right: 3%;
}

.meat::before {
  content: '';
  position: absolute;
  background-image: url('../../assets/icons/meat.svg');
  background-repeat: no-repeat;
  width: 10%;
  height: 60%;
  top: 25%;
  right: 3%;
}


.favorite-btn {
  margin: 0 auto;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  width: 298px;
  height: 54px;
  border: none;
  background: #FE9013;
  border-radius: 25px;
}

/* Pick and feed a friend */
.pick-container {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 69px 220px 100px;
}

.pick {
  max-width: 1160px;
  margin: 0 auto;
  padding: 49px 99px 59px 99px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.pick h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 30px;
  color: #FE9013;
}

.pick-text-first-p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-bottom: 40px;
}

.pick-text-second-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

.pick-text-third-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin-top: 10px;
  margin-bottom: 60px;
  margin-right: 8.5%;
}

.pick-text-third-p a {
  color: #333B41;
  text-decoration: none;
  border-bottom: 1px solid #FE9013;
}

.pick-diagram h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 40px;
  text-align: center;
  color: #333B41;
}

.pick-diagram-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 60px;
  align-items: center;
}

.pick-diagram-container-child {
  width: 170px;
}

.pick-diagram-child-first {
  width: 168px;
  height: 168px;
  background: white;
  border: 1px solid rgb(239, 116, 63);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/pay.png');
  margin-top: -20px;
}

.pick-diagram-child-second {
  width: 168px;
  height: 168px;
  background: white;
  border: 1px solid rgb(239, 116, 63);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/zoo.png');
}

.pick-diagram-child-third {
  width: 168px;
  height: 168px;
  background: white;
  border: 1px solid rgb(239, 116, 63);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/monkey.png');
}

.pick-diagram-child-first,
.pick-diagram-child-second,
.pick-diagram-child-third {
  margin-bottom: 30px;
  width: 170px;
  border-radius: 5px;

}

.arrow {
  width: 69px;
  height: 158px;
  margin-top: -70px;
  background-image: url('../../assets/images/Vector.png');
  background-repeat: no-repeat;
  background-position: center;
}

.green-arrow {
  display: none;
}

.feed-btn {
  text-align: center;
  width: 298px;
  margin: 0 auto;
  display: block;
  padding: 16px 1px 16px 5px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: white;
  border-radius: 25px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
  line-height: 140%;
}

.feed-btn:hover {
  background: #e24e0e;
}

/* Testimonials */
.testimonials-container {
  position: relative;
}

.testimonials {
  margin: 0 auto;
  max-width: 1160px;
  padding: 140px 0 180px;
}

.testimonials-comments {
  display: flex;
  justify-content: space-between;
}

.testimonials h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
  margin-bottom: 47px;
}

.testimonials-comments-child {
  background: #F1F3F2;
  width: 267px;
  height: 391px;
  padding: 15px;
  border: 2px solid #F9804B;
  border-radius: 8px;
  overflow-y: auto;
}

.testimonials-profile {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.testimonials-profile-image {
  margin-right: 10px;
}

.testimonials-profile-info h5 {
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 1px;
}

.testimonials-profile-info span {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.testimonials-text p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.testimonials-comments-child::-webkit-scrollbar {
  width: 4px;
}

.testimonials-comments-child::-webkit-scrollbar-corner {
  display: none;
}

.testimonials-comments-child::-webkit-scrollbar-thumb {
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.testimonials-slider {
  width: 55%;
  margin: 0 auto;
  margin-top: 20px;
}

input[type="range"] {
  background: #F5F7F6;
  border-radius: 5px;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  border: 1px solid #fec1b1
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: #FE9013;
  cursor: pointer;
  width: 25%;
  height: 7px;
}

.leaf {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 300.92px;
  height: 295.45px;
  background: url(../../assets/images/leaf.png) no-repeat;
  background-size: auto 137%;
  background-position: right top;
}

/* Footer */

.footer-min,
.footer-min-min {
  display: none;
}


footer {
  background: #111115;
  padding: 40px 0 50px 0;
  font-size: 16px;
}

.footer-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.footer-logo {
  max-width: 82px;
  max-height: 52px;
  border: 0.5px solid #FFFFFF;
  padding: 3px;
}

footer a {
  color: #fff;
}

.donate-btn,
.testimonials-btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  color: white;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.donate-btn:hover,
.watch-online-button:hover,
.testimonials-btn:hover,
.favorite-btn:hover {
  background: #e24e0e;
}

footer ul {
  list-style-type: none;
}

footer ul a:hover {
  color: #FE9013;
}

footer ul .orange:hover {
  color: white;
}

.social-media li {
  margin-bottom: 5px;
}

.footer-second {
  width: 40%;
}

.footer-second ul {
  display: flex;
  margin-top: 316px;
  justify-content: space-around;
  margin-left: 47px;
  margin-bottom: 0;
}

.footer-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-third h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: white;
  margin-bottom: 13px;
}

.submit {
  display: flex;
}

.submit input {
  border-radius: 2px;
  background: #111115;
  border: 0.5px solid #FE9013;
  width: 228px;
  height: 42px;
  font-size: 16px;
  line-height: 140%;
  padding: 10px;
  color: #BDBDBD;
  margin-right: 10px;
}

.submit button {
  color: #4B9200;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  padding: 10px 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.submit button:hover {
  cursor: pointer;
  color: white;
  background-color: #4B9200;
}

.submit input:focus {
  outline: none;
}

.done {
  color: #ffffff94;
  text-align: right;
  align-self: flex-end;
}

/* Media query */
@media all and (max-width: 1599px) and (min-width: 1000px) {
  .open-bur-menu {
    display: none;
    width: 100%;
    height: 329px;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all ease 0.3s;
  }

  .open-bur-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
  }

  .open-bur-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33.24px;
  }

  .open-bur-container-header button {
    border: none;
    font-size: 30px;
    font-weight: 500;
    background: white;
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .open-bur-container-header button:hover {
    background: black;
    color: white;
  }

  .open-bur-container a {
    color: #333B41;
  }

  .open-bur-menu ul {
    list-style-type: none;
  }

  .open-bur-container .open-bur-menu-logo {
    width: 65.6px;
    height: 41.6px;
    border: 0.8px solid #FE9013;
    border-radius: 2px;
  }

  .bur-menu-logo-h1 {
    font-weight: 400;
    font-size: 15.2116px;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
    padding: 1px;
  }

  .open-bur-container ul li {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  .open-bur-container ul li:hover {
    text-decoration: underline;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
  }

  header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .watch-online-text {
    width: 400.25px;
    height: 320px;
    left: calc(50% - 400.25px/2 + 214.12px);
    top: 122.8px;
    font-weight: 700;
    font-size: 85px;
    line-height: 75%;
  }

  .orange-circle {
    width: 367px;
    height: 367px;
    left: calc(50% - 367px/2 + 139.5px);
    top: 69px;
  }

  .watch-online-text {
    margin-top: 42.8px;
    margin-left: calc(50% - 400.25px/2 + 214.12px);
  }

  .watch-online-button {
    top: 483px;
    left: calc(50% - 298px/2 + 214px);
  }

  .backstage {
    margin-top: 109px;
    margin-bottom: 153px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .backstage-flower {
    display: none;
  }

  .first-image {
    display: none;
  }

  .second-image {
    display: block;
    width: 455px;
  }

  .backstage-text {
    margin-left: 31px;
  }

  .pets-container {
    padding: 0px 30px 100px;
    background-image: url('../../assets/images/palm2.png'), url('../../assets/images/strelitzia2.png');

  }

  .card {
    height: 354px;
    width: 294px;
  }

  .pets-animals {
    width: 294px;
    height: 294px;
  }

  .pets {
    margin: 0 auto;
    max-width: 1001px;
  }

  .pick-container {
    padding: 30px 30px 50px;
  }

  .pick {
    max-width: 940px;
    padding: 30px 48px 50px 49px;
  }

  .pick h2 {
    margin-bottom: 20px;
  }

  .pick-text-first-p {
    margin-bottom: 20px;
  }

  .pick-text-third-p {
    margin-bottom: 40px;
  }

  .pick-diagram-container {
    width: 100%;
  }

  /* Testimonials */
  .testimonials {
    width: 100%;
    padding: 100px 30px 140px;
  }

  .testimonials h3 {
    margin-bottom: 30px;
  }

  .testimonials-comments-child {
    width: 293px;
    height: 391px;
  }

  .hidden {
    display: none;
  }

  .leaf {
    width: 239.98px;
    height: 235.62px;
  }

  /* Footer */
  .footer-min,
  .footer-min-min {
    display: none;
  }

  footer {
    padding: 40px 31px 50px 30px;
  }

  .footer-container {
    width: 100%;
    justify-content: space-between;
  }

  .footer-second {
    width: 33%;
  }

  .footer-second ul {
    align-self: flex-end;
    justify-content: space-between;
    margin-left: -50px;
  }

  .footer-third h3,
  .submit {
    margin-left: -150px;
  }
}

@media (max-width: 999px) and (min-width: 640px) {
  .open-bur-menu {
    display: none;
    width: 100%;
    height: 329px;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all ease 0.3s;
  }

  .open-bur-container {
    max-width: 640px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
  }

  .open-bur-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33.24px;
  }

  .open-bur-container-header button {
    border: none;
    font-size: 30px;
    font-weight: 500;
    background: white;
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .open-bur-container-header button:hover {
    background: black;
    color: white;
  }

  .open-bur-container a {
    color: #333B41;
  }

  .open-bur-menu ul {
    list-style-type: none;
  }

  .open-bur-container .open-bur-menu-logo {
    width: 65.6px;
    height: 41.6px;
    border: 0.8px solid #FE9013;
    border-radius: 2px;
  }

  .bur-menu-logo-h1 {
    font-weight: 400;
    font-size: 15.2116px;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
    padding: 1px;
  }

  .open-bur-container ul li {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  .open-bur-container ul li:hover {
    text-decoration: underline;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .footer-min-min {
    display: none;
  }

  nav,
  .designed-by {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger img {
    width: 18px;
    height: 10px;
  }

  .header-container {
    max-width: 640px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5px 20px;
    height: 34px;
  }

  header .logo {
    border: none;
    width: 46.86px;
    height: 29.03px;
    padding: 0px;
  }

  header .logo-h1 {
    text-align: center;
    font-size: 12.2899px;
    line-height: 120%;
  }

  .watch-online-container {
    height: 339px;
  }

  .watch-online {
    max-width: 640px;
    height: 780px;
  }

  .orange-circle {
    width: 237.6px;
    height: 237.6px;
    left: calc(50% - 237.6px/2 + 130.44px);
    top: 44.23px;
  }

  .watch-online-text {
    font-size: 54.2894px;
    line-height: 75%;
    margin-left: calc(50% - 255.64px/2 + 176.76px);
    top: 82.04px;
    width: 255.64px;
    height: 204.38px;
  }

  .watch-online-button {
    left: calc(50% - 298px/2 - 151px);
    top: 279px;
  }

  .backstage {
    max-width: 640px;
    display: block;
    margin-top: 60px;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .first-image {
    display: none;
  }

  .second-image {
    display: none;
  }

  .backstage-text {
    margin-left: 0;
    width: 80%;
  }

  .backstage-text h3 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .backstage-flower {
    width: 231px;
    height: 476px;
    right: 0px;
    top: 368px;
    background: url(../../assets/images/flower2.png) no-repeat;
    background-position: right top;
  }

  .pets-container {
    padding: 0px 20px 100px;
    background-image: url('../../assets/images/palm3.png'), url('../../assets/images/strelitzia3.png');
  }

  .pets {
    max-width: 640px;
  }

  .pets-pictures-container {
    margin-bottom: 70px;
  }

  .hidden2 {
    display: none;
  }

  .pets-animals {
    width: 285.24px;
    height: 285.24px;
  }

  .card {
    width: 287.24px;
    height: 340.24px;
  }

  .animals-info {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .first-row {
    margin-bottom: 40px;
  }

  .pick-container {
    padding: 20px 0px;
  }

  .pick {
    max-width: 640px;
    padding: 10px 20px 60px;
  }

  .pick h2 {
    font-size: 42px;
    margin-bottom: 20px;
  }

  .pick-text-first-p {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .pick-text-third-p {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .pick-diagram h3 {
    margin-bottom: 20px;
  }

  .pick-diagram-container {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
  }

  .green-arrow {
    display: block;
    margin-top: -240px;
    margin-left: -8px;

  }

  .green-arrow img {
    width: 41px;
    height: 45px;
  }

  .arrow {
    display: none
  }

  .testimonials {
    max-width: 640px;
    padding: 60px 20px 80px;
  }

  .hidden {
    display: none;
  }

  .testimonials-comments {
    display: flex;
    flex-direction: column;
  }

  .testimonials h3 {
    margin-bottom: 30px;
  }

  .testimonials-comments-child {
    width: 100%;
    height: 109px;
    border: 2px solid #F9804B;
    border-radius: 20px;
    overflow-y: auto;
    margin-bottom: 15px;
  }

  .testimonials-comments-child::-webkit-scrollbar {
    width: 3px;
  }

  .testimonials-slider {
    display: none;
  }

  .testimonials-btn {
    width: 240px;
    height: 54px;
    margin: 40px auto 0;
    display: block;
  }

  .leaf {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 149.88px;
    height: 147.15px;
    background: url(../../assets/images/leaf2.png) no-repeat;
    background-position: right top;
  }

  footer {
    padding: 13px 20px 40px;
  }

  .footer-container {
    max-width: 640px;
  }

  .separate {
    display: none;
  }

  .testimonials-btn {
    margin-bottom: 0;
  }

  .footer-max {
    display: none;
  }

  .footer-first,
  .footer-second {
    width: 50%;
  }


  .social-media li {
    margin-bottom: 15px;
  }

  .footer-second ul {
    display: flex;
    margin-top: 0;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 42px;
    align-items: flex-end;
  }

  .footer-first ul {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 0;
    align-self: flex-end;
  }

  .footer-second ul img {
    width: 26px;
    height: 26px;
  }

  .done p {
    margin-bottom: 10px;
  }

  .social-media li a:after {
    display: none;
  }

  .social-media li:hover {
    transform: scale(1.3);
  }
}

@media (max-width: 639px) and (min-width: 320px) {
  .open-bur-menu {
    display: none;
    width: 100%;
    height: 329px;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all ease 0.3s;
  }

  .open-bur-container {
    max-width: 320px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
  }

  .open-bur-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30.4px;
  }

  .open-bur-container-header button {
    border: none;
    font-size: 30px;
    font-weight: 500;
    background: white;
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .open-bur-container-header button:hover {
    background: black;
    color: white;
  }

  .open-bur-container a {
    color: #333B41;
  }

  .open-bur-menu ul {
    list-style-type: none;
  }

  .open-bur-container .open-bur-menu-logo {
    width: 65.6px;
    height: 41.6px;
    border: 0.8px solid #FE9013;
    border-radius: 2px;
  }

  .bur-menu-logo-h1 {
    font-weight: 400;
    font-size: 15.2116px;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
    padding: 1px;
  }

  .open-bur-container ul li {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  .open-bur-container ul li:hover {
    text-decoration: underline;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  nav,
  .designed-by {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger img {
    width: 18px;
    height: 10px;
  }

  .header-container {
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5px 10px;
    height: 34px;
  }

  header .logo {
    border: none;
    width: 46.86px;
    height: 29.03px;
    padding: 0px;
  }

  header .logo-h1 {
    text-align: center;
    font-size: 12.2899px;
    line-height: 120%;
  }

  .watch-online-container {
    height: 186.96px;
  }

  .watch-online {
    max-width: 320px;
  }

  .orange-circle {
    width: 119.09px;
    height: 119.09px;
    left: calc(50% - 119.09px/2 + 62.45px);
    top: 62.17px;
  }

  .watch-online-text {
    font-size: 28px;
    margin-left: calc(50% - 128.13px/2 + 85.67px);
    margin-top: 45.12px;
    width: 128.13px;
    height: 102.44px;
  }

  .watch-online-button {
    width: 298px;
    height: 54px;
    display: block;
    text-align: center;
    left: calc(50% - 298px/2);
    top: 200px;
  }

  .backstage {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .first-image {
    display: none;
  }

  .second-image {
    display: none;
  }

  .backstage-text {
    margin-left: 0;
  }

  .backstage-text h2 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 10px;
  }

  .backstage-text h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .backstage-flower {
    width: 105px;
    height: 217px;
    right: 0px;
    top: 259px;
    background: url(../../assets/images/flower3.png) no-repeat;
    background-position: right top;
  }

  .pets-container {
    padding: 0px 17px 60px;
    background-image: url('../../assets/images/palm4.png'), url('../../assets/images/strelitzia4.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
  }

  .pets {
    max-width: 320px;
  }

  .pets-pictures-container {
    margin-bottom: 20px;
  }

  .first-row {
    margin-bottom: 0;
  }

  .first-row,
  .second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hidden2 {
    display: none;
  }

  .card {
    height: 340px;
    width: 287.24px;
    margin-bottom: 20px;
  }

  .pets-animals {
    width: 285.24px;
    height: 285.24px;
  }

  .animals-info {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
  }

  .pick-container {
    padding: 20px 10px;
  }

  .pick {
    max-width: 320px;
    padding: 20px 3px 50px;
  }

  .pick h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .pick-text-first-p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .pick-diagram h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .pick-text-second-p,
  .pick-text-third-p {
    display: none;
  }


  .pick-diagram-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }

  .arrow {
    display: none;
  }

  .pick-diagram-child-first {
    margin-top: 0;
  }

  .pick-diagram-child-first,
  .pick-diagram-child-second,
  .pick-diagram-child-third {
    margin-bottom: 10px;
  }

  .pick-diagram-container-child {
    margin-bottom: 29px;
  }

  .testimonials {
    max-width: 320px;
    padding: 30px 10px 60px;
  }

  .testimonials-comments {
    display: flex;
    flex-direction: column;
  }

  .testimonials h3 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .testimonials-comments-child {
    height: 109px;
    width: 100%;
    padding: 12px;
    border: 1px solid #F9804B;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  .testimonials-profile-image {
    margin-right: 6px;
  }

  .testimonials-profile-info h5 {
    font-weight: 400;
  }

  .testimonials-comments-child::-webkit-scrollbar {
    width: 2px;
  }

  .testimonials-slider {
    display: none;
  }

  .leaf {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 77.21px;
    height: 75.81px;
    background: url('../../assets/images/leaf3.png') no-repeat;
    background-position: right top;
  }

  .testimonials-btn {
    margin: 20px auto 0;
  }

  .footer {
    padding: 18px 13px 20px 9px;
  }

  .footer-container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .footer-logo {
    width: 204px;
    height: 23px;
    border: none;
    padding: none;
    margin: 0 auto;
  }

  .footer-logo h1 {
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
  }

  .social-media li {
    margin-bottom: 0;
  }

  .footer-second {
    width: 100%;
  }

  .footer-second ul {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer-first ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: -10px;
  }

  .social-media li a:after {
    display: none;
  }

  .social-media li:hover {
    transform: scale(1.3);
  }

  .done {
    color: #ffffff94;
    text-align: right;
    align-self: flex-end;
    margin-bottom: 30px;
    margin-top: -10px;
  }

  .done p {
    margin-bottom: 10px;
  }

  .footer-max,
  .footer-min {
    display: none;
  }

}

@media (min-width: 1600px) {

  .footer-min,
  .footer-min-min {
    display: none;
  }
}