* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  font-size: 16px;
}

/* Add */


/* General */
a {
  text-decoration: none;
}

.orange {
  color: #FE9013;
}

.yellow {
  color: #FFEE2E;
}

/* Header */
header {
  background-color: black;
}

.header-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  border: 2px solid white;
  max-width: 90px;
  max-height: 57px;
  padding: 1px;
  width: 15%;
}

.logo-h1 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

nav {
  display: flex;
  width: 65%;
}

nav ul {
  display: flex;
  list-style-type: none;
  font-weight: 600;
  justify-content: space-between;
  width: inherit;
  margin-left: 7%;
}

nav ul a:after,
.designed-by a:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 400ms;
}

.orange-background a:after {
  background: #F9804B;
}

nav ul a:hover:after,
.designed-by a:hover:after {
  width: 100%;
}

.designed-by {
  font-weight: 600;
  margin-left: auto;
}

header a {
  color: white;
}

/* Main */

.watch-online-container {
  background: url('../../assets/images/panda.png') no-repeat center center/cover;
  height: 89.8vh;

}

.watch-online {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  height: 780px;
  flex-direction: column;
}

.orange-circle {
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: absolute;
  width: 465px;
  height: 465px;
  left: 50%;
  top: 92px;
}

.watch-online-text {
  margin-left: calc(50% - 500.31px/2 + 330.15px);
  margin-top: 8%;
  z-index: 1;
  width: 500.31px;
  height: 400px;
  font-weight: 700;
  font-size: 105px;
  line-height: 75%;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: -2.5px;
}

.watch-online-button {
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px/2 + 332px);
  top: 626px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: white;
  border-radius: 25px;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
}

.watch-online-button:hover {
  background: #f85915;
}

/* Backstage */
.backstage-container {
  background: rgba(253, 253, 255, 0.52);
}

.backstage {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  margin-bottom: 180px;
}

.backstage-image img {
  width: 609px;
  height: 403px;
}

.backstage-text {
  color: #333B41;
  line-height: 130%;
  margin-left: 87px;
}

.backstage-text h2 {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 400;
  margin-bottom: 20px;
}

.backstage-text h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-top: 54px;
  margin-bottom: 34px;
}

/* Footer */

footer {
  background: #111115;
  padding: 40px 0 50px 0;
  font-size: 16px;
}

.footer-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.footer-logo {
  max-width: 82px;
  max-height: 52px;
  border: 0.5px solid #FFFFFF;
  padding: 3px;
}

footer a {
  color: #fff;
}

.donate-btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  color: white;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 16px;
  cursor: pointer;
}

.donate-btn:hover {
  background: white;
  color: black;
}

footer ul {
  list-style-type: none;
}

footer ul a:hover {
  color: #FE9013;
}

footer ul .orange:hover {
  color: white;
}

.social-media li {
  margin-bottom: 5px;
}

.footer-second {
  width: 40%;
}

.footer-second ul {
  display: flex;
  margin-top: 316px;
  justify-content: space-around;
  margin-left: 47px;
  margin-bottom: 0;
}

.footer-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-third h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: white;
  margin-bottom: 13px;
}

.submit {
  display: flex;
}

.submit input {
  border-radius: 2px;
  background: #111115;
  border: 0.5px solid #FE9013;
  width: 228px;
  height: 42px;
  font-size: 16px;
  line-height: 140%;
  padding: 10px;
  color: #BDBDBD;
  margin-right: 10px;
}

.submit button {
  color: #4B9200;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  padding: 10px 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.submit button:hover {
  cursor: pointer;
  color: white;
  background-color: #4B9200;
}

.submit input:focus {
  outline: none;
}

.done {
  color: #ffffff94;
  text-align: right;
  align-self: flex-end;
}