* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.orange {
  color: #FE9013;
}

.open-bur-menu {
  display: none;
}

/* Header */
header {
  background-color: black;
}

.header-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  border: 2px solid white;
  max-width: 90px;
  max-height: 57px;
  padding: 1px;
  width: 15%;
}

.logo-h1,
.logo-h2 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

nav {
  display: flex;
  width: 65%;
}

nav ul {
  display: flex;
  list-style-type: none;
  font-weight: 600;
  justify-content: space-between;
  width: inherit;
  margin-left: 7%;
}

nav ul a:after,
.designed-by a:after,
.social-media li a:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 400ms;
}

.social-media li a:after {
  height: 1.5px;
}

.orange-background a:after {
  background: #F9804B;
}

nav ul a:hover:after,
.designed-by a:hover:after {
  width: 100%;
}

.social-media a:hover:after {
  width: 40%;
}

.designed-by {
  font-weight: 600;
  margin-left: auto;
}

.hamburger {
  display: none;
}

header a {
  color: white;
}

/* Main */

.donate-panda {
  background: url('../../assets/images/panda2.png') no-repeat center center/cover;
  height: 390px;
}

.donate-donate-container {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate-donate {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 180px;
}

.donate-donate-info h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: white;
  margin-bottom: 10px;
  letter-spacing: -1.7px;
}

.donate-donate-info p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: white;
  margin-bottom: 40px;
}

.donate-donate-info a {
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
}

/* Donate money */
.donate-money {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 40px 92px 62px 92px;
  margin-top: 60px;
}

.donate-money-header {
  margin-bottom: 60px;
}

.donate-money-header h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  margin-bottom: 20px;
}

.donate-money-header p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

/* Illustration */

.donate-money-illustration {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
  padding-right: 10px;
}

.number-of-animals {
  margin-bottom: 55px;
}

.number-of-animals-number {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  margin-bottom: 11px;
  text-transform: uppercase;
  color: #000000;
}

.number-of-animals-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333B41;
}

.x-icon {
  margin: 0px 65px 100px 10px;
}

/* Amount */

.donate-money-range p {
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 17px;
}

.donate-money-range-center {
  text-align: center;
}

.another-amount input {
  border: 1px solid #929699;
  border-radius: 2px;
  color: #929699;
  background-color: rgba(255, 255, 255, 0.52);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
  padding: 16px 0px 16px 9px;
  width: 268px;
  height: 54px;
  background: transparent;
  background: url('../../assets/icons/dollar.svg') no-repeat;
  background-position: 250px;
  margin-bottom: 25px;
}

.another-amount input:focus {
  outline: none;
}

.donate-money-range p {
  margin-left: 4px;
}

/* Amount range */

.amount-range-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404950;
  width: 100%;
  height: 27px;
  border-radius: 2px;
}

.amount-range-x {
  width: 93.2%;
  height: 2px;
  background: #72828E;
}

.amount-range-individial {
  display: flex;
  flex-direction: column;
  width: 65px;
}

.amount-range-numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
  margin-left: 25px;
}

.amount-range-individial-input {
  margin: -18px 20px 20px 0;
  width: 10px;
  height: 10px;
  cursor: pointer;
  appearance: none;
  border-radius: 50%;
  background-color: #FFEE2E;
}

.amount-range-individial-label {
  display: inline-block;
  font-weight: 600;
  font-size: 26px;
  line-height: 140%;
  color: #333B41;
  cursor: pointer;
  margin-left: -30px;
}

.amount-range-individial-input:checked {
  background-color: #FE9013;
  transform: scale(2);
}

label[for="$100"] {
  color: #FE9013;
}

.monthly-once {
  display: flex;
  width: 195px;
  margin: 0 auto;
}

.monthly,
.once {
  display: flex;
  margin-right: 50px;
  align-items: center;
}

.monthly {
  margin-left: -10px;
}

.monthly-once input {
  cursor: pointer;
  appearance: none;
  border-radius: 50%;
  border: 1px solid orange;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.monthly-once label {
  cursor: pointer;
  color: #333B41;
}

.monthly-once input:checked {
  transition: background-color 0.8s;
  background-color: orange;
}

.feed-btn {
  text-align: center;
  width: 298px;
  margin: 0 auto;
  display: block;
  padding: 16px 1px 16px 5px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: white;
  border-radius: 25px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
  line-height: 140%;
  margin-top: 34px;
  margin-bottom: 30px;
}

.feed-btn:hover {
  background: #e24e0e;
}

.donate-money-range-center p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  margin-bottom: 0;
}


/* Footer */

.footer-min,
.footer-min-min {
  display: none;
}

footer {
  background: #111115;
  padding: 40px 0 50px 0;
  font-size: 16px;
}

.footer-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}

.footer-logo {
  max-width: 82px;
  max-height: 52px;
  border: 0.5px solid #FFFFFF;
  padding: 3px;
}

footer a {
  color: #fff;
}

.donate-btn,
.testimonials-btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  color: white;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.donate-btn:hover,
.watch-online-button:hover,
.testimonials-btn:hover,
.favorite-btn:hover {
  background: #e24e0e;
}

footer ul {
  list-style-type: none;
}

footer ul a:hover {
  color: #FE9013;
}

footer ul .orange:hover {
  color: white;
}

.social-media li {
  margin-bottom: 5px;
}


.footer-second {
  width: 40%;
}

.footer-second ul {
  display: flex;
  margin-top: 316px;
  justify-content: space-around;
  margin-left: 47px;
  margin-bottom: 0;
}

.footer-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-third h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: white;
  margin-bottom: 13px;
}

.submit {
  display: flex;
}

.submit input {
  border-radius: 2px;
  background: #111115;
  border: 0.5px solid #FE9013;
  width: 228px;
  height: 42px;
  font-size: 16px;
  line-height: 140%;
  padding: 10px;
  color: #BDBDBD;
  margin-right: 10px;
}

.submit button {
  color: #4B9200;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  padding: 10px 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.submit button:hover {
  cursor: pointer;
  color: white;
  background-color: #4B9200;
}

.submit input:focus {
  outline: none;
}

.done {
  color: #ffffff94;
  text-align: right;
  align-self: flex-end;
}

/* Media query */
@media all and (max-width: 1599px) and (min-width: 1000px) {
  .open-bur-menu {
    display: none;
    width: 100%;
    height: 329px;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all ease 0.3s;
  }

  .open-bur-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
  }

  .open-bur-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33.24px;
  }

  .open-bur-container-header button {
    border: none;
    font-size: 30px;
    font-weight: 500;
    background: white;
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .open-bur-container-header button:hover {
    background: black;
    color: white;
  }

  .open-bur-container a {
    color: #333B41;
  }

  .open-bur-menu ul {
    list-style-type: none;
  }

  .open-bur-container .open-bur-menu-logo {
    width: 65.6px;
    height: 41.6px;
    border: 0.8px solid #FE9013;
    border-radius: 2px;
  }

  .bur-menu-logo-h1 {
    font-weight: 400;
    font-size: 15.2116px;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
    padding: 1px;
  }

  .open-bur-container ul li {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  .open-bur-container ul li:hover {
    text-decoration: underline;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
  }

  header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .watch-online-text {
    width: 400.25px;
    height: 320px;
    left: calc(50% - 400.25px/2 + 214.12px);
    top: 122.8px;
    font-weight: 700;
    font-size: 85px;
    line-height: 75%;
  }

  .orange-circle {
    width: 367px;
    height: 367px;
    left: calc(50% - 367px/2 + 139.5px);
    top: 69px;
  }

  .watch-online-text {
    margin-top: 42.8px;
    margin-left: calc(50% - 400.25px/2 + 214.12px);
  }

  /* Main */
  .donate-donate {
    width: 100%;
    padding: 40px 30px 30px 30px;
  }

  .donate-donate-info h2 {
    margin-bottom: 30px;
  }

  .donate-money {
    padding: 20px 45px 45px;
    margin-top: 40px;
  }

  .donate-money-header h2 {
    margin-bottom: 10px;
  }

  /* Footer */
  .footer-min,
  .footer-min-min {
    display: none;
  }

  footer {
    padding: 40px 31px 50px 30px;
  }

  .footer-container {
    width: 100%;
    justify-content: space-between;
  }

  .footer-second {
    width: 33%;
  }

  .footer-second ul {
    align-self: flex-end;
    justify-content: space-between;
    margin-left: -50px;
  }

  .footer-third h3,
  .submit {
    margin-left: -150px;
  }
}

@media (max-width: 999px) and (min-width: 640px) {
  .open-bur-menu {
    display: none;
    width: 100%;
    height: 329px;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all ease 0.3s;
  }

  .open-bur-container {
    max-width: 640px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
  }

  .open-bur-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33.24px;
  }

  .open-bur-container-header button {
    border: none;
    font-size: 30px;
    font-weight: 500;
    background: white;
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .open-bur-container-header button:hover {
    background: black;
    color: white;
  }

  .open-bur-container a {
    color: #333B41;
  }

  .open-bur-menu ul {
    list-style-type: none;
  }

  .open-bur-container .open-bur-menu-logo {
    width: 65.6px;
    height: 41.6px;
    border: 0.8px solid #FE9013;
    border-radius: 2px;
  }

  .bur-menu-logo-h1 {
    font-weight: 400;
    font-size: 15.2116px;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
    padding: 1px;
  }

  .open-bur-container ul li {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  .open-bur-container ul li:hover {
    text-decoration: underline;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .footer-max,
  .footer-min-min {
    display: none;
  }

  nav,
  .designed-by {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger img {
    width: 18px;
    height: 10px;
  }

  .header-container {
    max-width: 640px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5px 20px;
    height: 34px;
  }

  header .logo {
    border: none;
    width: 46.86px;
    height: 29.03px;
    padding: 0px;
  }

  header .logo-h1 {
    text-align: center;
    font-size: 12.2899px;
    line-height: 120%;
  }

  .donate-panda {
    height: 335px;
  }

  .donate-donate {
    max-width: 640px;
    padding: 30px 20px;
  }

  .donate-donate-info h2 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
  }

  .donate-donate-info p {
    margin-bottom: 30px;
    font-weight: 500;
  }

  .donate-money {
    padding: 19px 0 31px;
    margin-top: 30px;
  }

  .donate-money-header {
    margin-bottom: 60px;
  }

  .donate-money-header p {
    text-align: center;
  }

  .donate-money-illustration {
    align-items: flex-end;
  }

  .donate-money-range p {
    margin-left: 10px;
    margin-bottom: 7px;
  }

  .amount-range-background {
    width: 100%;
  }

  .amount-range-numbers {
    margin-left: 25px;
  }

  .input-hidden {
    display: none;
  }

  .amount-range-individial-input {
    margin-left: 5px;
  }

  .amount-range-individial-label {

    margin-left: -15px;
  }

  footer {
    padding: 13px 20px 40px;
  }

  .footer-container {
    max-width: 640px;
  }

  .separate {
    display: none;
  }

  .testimonials-btn {
    margin-bottom: 0;
  }

  .footer-first,
  .footer-second {
    width: 50%;
  }


  .social-media li {
    margin-bottom: 15px;
  }

  .footer-second ul {
    display: flex;
    margin-top: 0;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 42px;
    align-items: flex-end;
  }

  .footer-first ul {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 0;
    align-self: flex-end;
  }

  .footer-second ul img {
    width: 26px;
    height: 26px;
  }

  .done p {
    margin-bottom: 10px;
  }

  .social-media li a:after {
    display: none;
  }

  .social-media li:hover {
    transform: scale(1.3);
  }
}

@media (max-width: 639px) and (min-width: 320px) {
  .open-bur-menu {
    display: none;
    width: 100%;
    height: 329px;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all ease 0.3s;
  }

  .open-bur-container {
    max-width: 320px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
  }

  .open-bur-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30.4px;
  }

  .open-bur-container-header button {
    border: none;
    font-size: 30px;
    font-weight: 500;
    background: white;
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .open-bur-container-header button:hover {
    background: black;
    color: white;
  }

  .open-bur-container a {
    color: #333B41;
  }

  .open-bur-menu ul {
    list-style-type: none;
  }

  .open-bur-container .open-bur-menu-logo {
    width: 65.6px;
    height: 41.6px;
    border: 0.8px solid #FE9013;
    border-radius: 2px;
  }

  .bur-menu-logo-h1 {
    font-weight: 400;
    font-size: 15.2116px;
    line-height: 120%;
    color: #FE9013;
    text-align: center;
    padding: 1px;
  }

  .open-bur-container ul li {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  .open-bur-container ul li:hover {
    text-decoration: underline;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  nav,
  .designed-by {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger img {
    width: 18px;
    height: 10px;
  }

  .header-container {
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5px 10px;
    height: 34px;
  }

  header .logo {
    border: none;
    width: 46.86px;
    height: 29.03px;
    padding: 0px;
  }

  header .logo-h1 {
    text-align: center;
    font-size: 12.2899px;
    line-height: 120%;
  }

  .donate-panda {
    height: 187px;
  }

  .donate-donate {
    max-width: 320px;
    padding: 30px 10px 20px;
  }

  .donate-donate-info h2 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
    letter-spacing: 0px;
  }

  .donate-donate-info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 30px;
  }

  .donate-donate-info a {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }

  .donate-money {
    padding: 20px 1px;
    margin-top: 30px;
  }

  .donate-money-header {
    margin-bottom: 30px;
  }

  .donate-money-header h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 10px;
  }

  .donate-money-header p {
    font-size: 16px;
    line-height: 140%;
    text-align: center;
  }

  .donate-money-illustration {
    margin-bottom: 20px;
    padding-right: 10px;
    align-items: center;
  }

  .number-of-animals {
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center;
  }

  .number-of-animals-number {
    font-weight: 500;
    font-size: 40px;
    line-height: 80%;
    text-align: center;
    margin-bottom: 10px;
  }

  .number-of-animals-text {
    font-weight: 600;
    font-size: 9px;
    line-height: 140%;
  }

  .x-icon img {
    width: 7.89px;
    height: 7.89px;
  }

  .x-icon {
    margin: 0px 25px 0 6px;
  }

  .donate-money-panda img {
    width: 151.4px;
  }

  .donate-money-range p {
    margin-bottom: 16px;
  }

  .donate-money-range p {
    margin-left: 0px;
  }

  .amount-range-background {
    height: 13.5px;
  }

  .amount-range-x {
    height: 1px;
  }

  .input-hidden {
    display: none;
  }

  .amount-range-individial {
    width: 20%;
  }

  .amount-range-numbers {
    margin-bottom: 25px;
    margin-left: 20px;
  }

  .amount-range-individial-input {
    margin: -10px 10px 15px 0;
    width: 5px;
    height: 5px;
  }

  .amount-range-individial-label {
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    margin-left: -10px;
  }

  .footer {
    padding: 18px 13px 20px 9px;
  }

  .footer-container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .footer-logo {
    width: 204px;
    height: 23px;
    border: none;
    padding: none;
    margin: 0 auto;
  }

  .footer-logo h1 {
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
  }

  .social-media li {
    margin-bottom: 0;
  }

  .footer-second {
    width: 100%;
  }

  .footer-second ul {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer-first ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: -10px;
  }

  .social-media li a:after {
    display: none;
  }

  .social-media li:hover {
    transform: scale(1.3);
  }

  .done {
    color: #ffffff94;
    text-align: right;
    align-self: flex-end;
    margin-bottom: 30px;
    margin-top: -10px;
  }

  .done p {
    margin-bottom: 10px;
  }

  .footer-max,
  .footer-min {
    display: none;
  }
}

@media (min-width: 1600px) {

  .footer-min,
  .footer-min-min {
    display: none;
  }
}